{% load static %}
<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Nexus{% endblock %}</title>

  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'css/boutique.css' %}">

  {% block extra_css %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
  {% include "includes/header.html" %}

  <main>
    {% include "includes/messages.html" %}
    {% block content %}{% endblock %}
  </main>

  {% include "includes/footer.html" %}

  {% block extra_js %}{% endblock %}
</body>
</html>
